body {
  font-family: "Lato";
}

.bg-gradient {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  border-radius: 1rem;
  background-color: white;
}

.btn-primary {
  background: #4acba5;
  border-color: #5ed1af;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #38c49b !important;
  border-color: #38c49b !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(94, 209, 175, 0.5);
}
